<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="https://use.typekit.net/xtn5lgj.css">
<div class="masthead">
    <h1>The Power Of Economics</h1>
</div>
<h2 class="Portfolio-title">Portfolio</h2>
<div class="portfolio">
    <div class="card1">
        <img src="../img/Portfolio-3d.png" alt="Project 1">
        <p>3D Render</p>
    </div>
    <div class="card2 ">
        <img src="../img/Portfolio-DigitalPainting.png" alt="Project 2">
        <p>Landscape Painting</p>
    </div>
    <div class="card3">
        <img src="../img/Portfolio-Photoghraphy.png" alt="Project 3">
        <p>Object Photography</p>
    </div>
    <div class="card4">
        <img src="../img/Portfolio-Postcard.png" alt="Project 4">
        <p>Postcard Design</p>
    </div>
    <div class="card5">
        <img src="../img/Portfolio-UX.png" alt="Project 5">
        <p>UX Design</p>
    </div>
    <div class="card6">
        <img src="../img/Portfolio-WebDesign.png" alt="Project 6">
        <p>Web Design</p>
    </div>
</div>